---
import Main from "../../layouts/Main.astro";

---

<Main title="Invitations">
  <div class="app-page graduation">
    
    <h3>CDC San Agustín</h3>

    <div class="image-lamp">lampara</div>

    <div>
      <p>Juramento para enfermeras de Florence Nightingale</p>

      <p>Juro solemnemente ante Dios y en presencia de esta asamblea llevar una vida digna y ejercer mi profesión honradamente.</p>
        
      <p>Me abstendré de todo cuanto sea nocivo o dañino, y no tomaré ni suministraré cualquier substancia o producto que sea perjudicial para la salud.</p>
        
      <p>Haré todo lo que esté a mi alcance para elevar el nivel de la enfermería y consideraré como confidencial toda información que me sea revelada en el ejercicio de mi profesión, así como todos los asuntos familiares en mis pacientes.</p>
        
      <p>Seré una fiel asistente de los médicos y dedicaré mi vida al bienestar de las personas confiadas a mi cuidado.</p>
    </div>

    <p>tiene el honor de invitarlo a la:</p>

    <h2>Ceremonia de <br/> Graduación</h2>
    <span>Generación 2022 - 2023</span>

    <p>en honor a:</p>

    <ul>
      <li>Ana Alicia Manguilar del Angel </li>
      <li>Argelia Lorena Tavera Sanchez </li>
      <li>Kasandra Rivera Cortes </li>
      <li>Judith Citlali Ruiz Rocha </li>
      <li>Karen Neyra Villegas </li>
      <li>Teresa Zaragoza Luna </li>
      <li>María del Rosario Calva de la Cruz </li>
      <li>Maria Dolores Rocha Castillo </li>
      <li>Angelica Joseph Morales Rosas </li>
      <li>Pablo Alberto Fernández Miguel </li>
      <li>Esly Renata Hernández Martínez </li>
    </ul>

    <div class="date">
      <div>
        <span>Sábado</span>
        <b>10:30 AM</b>
      </div>

      <div>16</div>

      <div>
        <span>Diciembre</span>
        <b>2023</b>
      </div>
    </div>


    <hr>

    <div>
      Directora DIF Nezahualcóyotl
      <h2>Claudia Mónica Pérez Cerqueda</h2>
    </div>

    <div>
      Subdirector
      <h2>Andrés Roberto Noguez Morales</h2>
    </div>

    <div>
      Coordinador
      <h2>Miguel Ángel Córdova Velázquez</h2>
    </div>

    <div>
      Profesora
      <h2>Monserrat Hernández García</h2>
    </div>
  
  </div>
</Main>

<script>
  // import { APP } from "../data/index";
  // const app = new APP();
  // window.onload = (e) => {
  //   app.init();
  //   console.log("loaded!");
  // };
  import { APP } from "../../data/main";
  const app = new APP();
  window.onload = () => {
      app.init();
      console.log("loaded!");
  };
</script>
