---
import Main from "../../layouts/Main.astro";

const playPause = (e) => {
  alert('dfasdsadas');
}
---

<Main title="Invitations">

  <div class="control-audio">
    <img src="/invitations/img/volume.svg" alt="" />
    <audio id="audio-background" src="/invitations/data/background-audio-1.mp3" autoplay loop></audio>
  </div>
  
  <div class="app-page graduation">
    <!-- <img class="ornament top" src="/invitations/img/ornament.svg" alt=""> -->
    <div class="body-content">
      <div class="school wow bounceInUp">CDC San Agustín</div>

      <div class="image-lamp wow bounceInUp">
        <img src="/invitations/img/lamp.svg" alt="" />
      </div>

      <p>tiene el honor de invitarlo a la:</p>

      <div class="title-ceremony accent wow bounceInUp">
        Ceremonia de <br />
        <span>Graduación</span>
      </div>
      <div class="generation wow bounceInUp">Generación 2022 - 2023</div>

      <div class="date wow bounceInUp">
        <div class="name-day">
          <span>Sábado</span>
          <b>10:30 AM</b>
        </div>

        <div class="day">16</div>

        <div class="month">
          <span>Diciembre</span>
          <b>2023</b>
        </div>
      </div>

      <div class="poem ">
        <div class="title accent wow bounceInUp">
          Juramento para Enfermeras de Florence Nightingale
        </div>

        <p class="wow bounceInUp">
          Juro solemnemente ante Dios y en presencia de esta asamblea llevar una
          vida digna y ejercer mi profesión honradamente.
        </p>

        <p class="wow bounceInUp">
          Me abstendré de todo cuanto sea nocivo o dañino, y no tomaré ni
          suministraré cualquier substancia o producto que sea perjudicial para
          la salud.
        </p>

        <p>
          Haré todo lo que esté a mi alcance para elevar el nivel de la
          enfermería y consideraré como confidencial toda información que me sea
          revelada en el ejercicio de mi profesión, así como todos los asuntos
          familiares en mis pacientes.
        </p>

        <p>
          Seré una fiel asistente de los médicos y dedicaré mi vida al bienestar
          de las personas confiadas a mi cuidado.
        </p>
      </div>

      <div class="title">
        <b>Honorables Graduados</b>
      </div>

      <div class="graduates">
        <div>Ana Alicia <span> Manguilar del Angel</span> </div>
        <div>Argelia Lorena <span> Tavera Sanchez</span> </div>
        <div>Kasandra <span> Rivera Cortes</span> </div>
        <div>Judith Citlali <span> Ruiz Rocha</span> </div>
        <div>Karen <span> Neyra Villegas</span> </div>
        <div>Teresa <span> Zaragoza Luna</span> </div>
        <div>María del Rosario <span> Calva de la Cruz</span> </div>
        <div>Maria Dolores <span> Rocha Castillo</span> </div>
        <div>Angelica Joseph <span> Morales Rosas</span> </div>
        <div>Pablo Alberto <span> Fernández Miguel</span> </div>
        <div>Esly Renata <span> Hernández Martínez</span> </div>
      </div>

  
      <div class="title">
        <b>Comité Ejecutivo</b>
      </div>

      <div class="agent">
        Directora DIF Nezahualcóyotl
        <div class="accent">Claudia Mónica Pérez Cerqueda</div>
      </div>

      <div class="agent">
        Subdirector
        <div class="accent">Andrés Roberto Noguez Morales</div>
      </div>

      <div class="agent">
        Coordinador
        <div class="accent">Miguel Ángel Córdova Velázquez</div>
      </div>

      <div class="agent">
        Profesora
        <div class="accent">Monserrat Hernández García</div>
      </div>


      <div class="congratulations">
        <div class="birrete">
          <img src="/invitations/img/birrete.svg" alt="" />
        </div>

        Felicidades a los Graduados!!
      </div>

    </div>
  </div>

  <!-- <img class="ornament bottom" src="/img/ornament.svg" alt=""> -->
</Main>

<script>
  import { APP } from "../../data/main";
  const app = new APP();
  window.onload = () => {
    app.init();
  };

  const controlAudio = document.querySelector('.control-audio');

  controlAudio.addEventListener("click", () => {
    playPause();
  });

  function playPause() {
    console.log('exec')
    const audio = document.querySelector('#audio-background');
    const icon = document.querySelector('.control-audio img');
    const isMuted = audio.hasAttribute('muted');
    console.log('isMuted: ', isMuted);
    if( isMuted ) {
      audio.removeAttribute('muted');
      audio.setAttribute('src', '/invitations/data/background-audio-1.mp3');
      icon.setAttribute('src', '/invitations/img/mute.svg');
    } else {
      

      audio.setAttribute('muted', '');
      audio.setAttribute('src', '');
      icon.setAttribute('src', '/invitations/img/volume.svg');
    }
  }
</script>
