
.openSansFont { font-family: 'Open Sans', sans-serif; }
.ubuntuFont { font-family: 'Ubuntu', sans-serif; }
.oswaldFont { font-family: 'Oswald', sans-serif; }
.robotoFont { font-family: 'Roboto', sans-serif; }
.inconsolata { font-family: 'Inconsolata', monospace; }
.greatVibes { font-family: 'Great Vibes', cursive; }
.josefinSans { font-family: 'Josefin Sans', sans-serif; }
.marckScript { font-family: 'Marck Script', cursive; }
.mrsSaintDelafield { font-family: 'Mrs Saint Delafield', cursive; }
.niconne { font-family: 'Niconne', cursive; }

.bebasNeue { font-family: 'Bebas Neue', sans-serif; }
.lilitaOne { font-family: 'Lilita One', sans-serif; }
.pacifico { font-family: 'Pacifico', cursive; }
.patuaOne { font-family: 'Patua One', serif; }