---
import Main from "../layouts/Main.astro";

import NotFound from "../components/404.astro";

---

<Main title="Invitations">
  <a href="/"></a>
  <NotFound />
</Main>

<script>
  // import { APP } from "../data/index";
  // const app = new APP();
  // window.onload = (e) => {
  //   app.init();
  //   console.log("loaded!");
  // };
</script>
