body .header-hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  transition: height 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 30px;
}
body section.toCenter {
  text-align: center;
}
body footer {
  margin-top: 100px;
  background: #211E18;
  padding: 60px 30px;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body footer h1 {
  font-size: 4em;
  line-height: 0.7;
  margin: 0 !important;
}