.parallax-container {
    height: 3000px;
    overflow: hidden;
    position: relative;
  }
  
  .parallax-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    left: 0;
    position: absolute;
    top: -0%;
    width: 100%;
  }
  
  .parallax-content {
    padding: 100px;
    position: relative;
    z-index: 1;
  }
  
  .layer-1 {
    z-index: 3;
  }
  
  .layer-2 {
    z-index: 2;
  }
  
  .layer-3 {
    z-index: 1;
  }
  