body { 
    // background-image: url('../../asserts/img/background.png');
    
    .header-hero {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        transition: height 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
        padding: 30px;

        &.toCenter {
          text-align: center;
        }
      }

      section:nth-child(even) {
        // background-color: #ddd;
      }
      section:nth-child(odd) {
        // background-color: #ccc;
      }


      footer {
        margin-top: 100px;
        background: #211E18;
        padding: 60px 30px;
        color: white;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        h1 {
            font-size: 4em;
            line-height: 0.7;
            margin: 0 !important;
        }
      }
}